<div class="group">
  <h3>Registros</h3>
  <ul class="list">
    
    <li>
      <button
        class="item-btn"
        data-title="Registro Ventas Día"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Registro Ventas Día
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Registro Producción Día"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Registro Producción Día
      </button>
    </li>    
  </ul>
</div>

<div class="group">
  <h3>Checklist</h3>
  <ul class="list">
    
    <li>
      <button
        class="item-btn"
        data-title="Accesibilidad"
        data-url="https://forms.gle/Jfck2BaGfed5UfjP8"
        data-edit="https://docs.google.com/forms/d/1dYzxeP49RHr3okTzBP6WXlmFjJ2ptYCiXFCfHU69jH8/edit"
      >
        Accesibilidad
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Ambiental"
        data-url="https://forms.gle/U4LB34yeGyubmpxg8"
        data-edit="https://docs.google.com/forms/d/1w6PZqyc5UXHYaI8Biw9URGdRQKy5fLq_BG2Y8pXMyeg/edit"
      >
        Ambiental
      </button>
    </li>
    
  </ul>
</div>
