<div class="group">
  <h3>Registros</h3>
  <ul class="list">
   
    <li>
      <button
        class="item-btn"
        data-title="Registro Turnos Día"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Registro Turnos Día
      </button>
    </li>
        
    <li>
      <button
        class="item-btn"
        data-title="Registro Producción Día"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Registro Producción Día
      </button>
    </li>       
    
    <li>
      <button
        class="item-btn"
        data-title="Registro Ventas Día"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Registro Ventas Día
      </button>
    </li>
   
  </ul>
</div>

<div class="group">
  <h3>Administración</h3>
  <ul class="list">
    
    <li>
      <button
        class="item-btn"
        data-title="Productos & Precios"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Productos & Precios
      </button>
    </li>

     <li>
      <button
        class="item-btn"
        data-title="Ruta, Conductor & Porcentaje"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Ruta, Conductor & Porcentaje
      </button>
    </li>
    
  </ul>
</div>
