<div class="group">
  <h3>Registros</h3>
  <ul class="list">
    <li>
      <button
        class="item-btn"
        data-title="Registro"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Registro
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Consentimiento Uso Datos"
        data-url="https://drive.google.com/file/d/18exjFFYQGUNF6L_-oBcT_KMs27if8KOc/preview"
      >
        Consentimiento Uso Datos
      </button>
    </li>
  </ul>
</div>

<div class="group">
  <h3>Formularios</h3>
  <ul class="list">
    <li>
      <button
        class="item-btn"
        data-title="QoL INICO-FEAPS: Autoinforme"
        data-url="https://forms.gle/VRYiHPMSsMoeqZpP8"
        data-edit="https://docs.google.com/forms/d/1G7JANuk13P7iFX1vHK5ECaFGDOgu2QTBcDk9_CkPsEo/edit"
      >
        QoL INICO-FEAPS: Autoinforme
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="QoL INICO-FEAPS: Otros"
        data-url="https://forms.gle/ZD6F1zojPba94ULb8"
        data-edit="https://docs.google.com/forms/d/1SEUWd7GemO5yBFjnPtHHMb7ae0U29F2f5CBybecV1YU/edit"
      >
        QoL INICO-FEAPS: Otros
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Evaluación Experiencias"
        data-url="https://forms.gle/61TB4fJG5kvFZUY79"
        data-edit="https://docs.google.com/forms/d/1YigRKOG6vMXUDFNVCe3-1J7nBaNz8w8tVJRmvuscMsY/edit"
      >
        Evaluación Experiencias
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Evaluación Cursos"
        data-url="https://forms.gle/ijRj9tp14igRGudJ6"
        data-edit="https://docs.google.com/forms/d/1-YJ7SKd8knu801Rlzq2tE-b2Z7TiTGEt-LGDtLWDtZY/edit"
      >
        Evaluación Cursos
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Evaluación Caminando Juntos"
        data-url="https://forms.gle/6wAxMhXPf4nNTBb57"
        data-edit="https://docs.google.com/forms/d/1qa2VTgBZ-m7NUy6QqF4_CtHmuNPO5TAQY5MzahviMAY/edit"
      >
        Evaluación Caminando Juntos
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Evaluación Proveedores"
        data-url="https://forms.gle/dxyXBpaUzADHeBBj9"
        data-edit="https://docs.google.com/forms/d/16DDLaH-DJYdboUp8kxuDQUmrTgtTuy-16O0lz0T3e5w/edit"
      >
        Evaluación Proveedores
      </button>
    </li>
  </ul>
</div>

<div class="group">
  <h3>Checklist</h3>
  <ul class="list">
    <li>
      <button
        class="item-btn"
        data-title="Accesibilidad"
        data-url="https://forms.gle/Jfck2BaGfed5UfjP8"
        data-edit="https://docs.google.com/forms/d/1dYzxeP49RHr3okTzBP6WXlmFjJ2ptYCiXFCfHU69jH8/edit"
      >
        Accesibilidad
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Ambiental"
        data-url="https://forms.gle/U4LB34yeGyubmpxg8"
        data-edit="https://docs.google.com/forms/d/1w6PZqyc5UXHYaI8Biw9URGdRQKy5fLq_BG2Y8pXMyeg/edit"
      >
        Ambiental
      </button>
    </li>
  </ul>
</div>
