<div class="group">
  <h3>Paneles generales</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="Impacto general DiversoLAB" data-url="https://lookerstudio.google.com/embed/reporting/TU_ID_DE_REPORTE/page/TU_PAGINA">Impacto general DiversoLAB</button></li>
  </ul>
</div>

<div class="group">
  <h3>Externos</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="QoL INICO-FEAPS: Autoinforme" data-url="https://lookerstudio.google.com/embed/reporting/TU_ID_QOL_AUTO/page/TU_PAGINA">QoL INICO-FEAPS: Autoinforme</button></li>
    <li><button class="item-btn" data-title="QoL INICO-FEAPS: Otros" data-url="https://lookerstudio.google.com/embed/reporting/TU_ID_QOL_OTROS/page/TU_PAGINA">QoL INICO-FEAPS: Otros</button></li>
    <li><button class="item-btn" data-title="Evaluación de Experiencias" data-url="https://app.powerbi.com/view?r=eyJrIjoiYmFmZDAyMGMtMjk1YS00MGI1LWEwOWYtZmVmNWEwNDMxMTY0IiwidCI6ImVkNWJkY2VkLTY5OGYtNDg0MS04ZjA3LTE4ZTFkODgwMGRjMSIsImMiOjR9">Evaluación de Experiencias</button></li>
    <li><button class="item-btn" data-title="Evaluación de Cursos" data-url="https://app.powerbi.com/view?r=eyJrIjoiNjA4NDk3MjgtMDcyMi00NWQ4LThlYTgtZWM1ZThhOWQ3OWEyIiwidCI6ImVkNWJkY2VkLTY5OGYtNDg0MS04ZjA3LTE4ZTFkODgwMGRjMSIsImMiOjR9">Evaluación de Cursos</button></li>
    <li><button class="item-btn" data-title="Evaluación de Aliados" data-url="https://app.powerbi.com/view?r=eyJrIjoiMTJkZTE0NGYtNzFlZi00YzhiLWI3YzAtMWZhNDlkMWNmODA2IiwidCI6ImVkNWJkY2VkLTY5OGYtNDg0MS04ZjA3LTE4ZTFkODgwMGRjMSIsImMiOjR9">Evaluación de Aliados</button></li>
  </ul>
</div>

<div class="group">
  <h3>Internos</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="Checklist de Accesibilidad" data-url="https://app.powerbi.com/view?r=eyJrIjoiNjA1YTAzOTYtYTJhMC00ZWQ4LWEyMWUtYTE3ZTZkYmUzNDFkIiwidCI6ImVkNWJkY2VkLTY5OGYtNDg0MS04ZjA3LTE4ZTFkODgwMGRjMSIsImMiOjR9">Checklist de Accesibilidad</button></li>
    <li><button class="item-btn" data-title="Checklist Ambiental" data-url="https://app.powerbi.com/view?r=eyJrIjoiOTc0NzBiMmMtMmNhZi00MGQxLWFhNjctNTJjMzQzYTdkMTQwIiwidCI6ImVkNWJkY2VkLTY5OGYtNDg0MS04ZjA3LTE4ZTFkODgwMGRjMSIsImMiOjR9">Checklist Ambiental</button></li>
    <li><button class="item-btn" data-title="Financiero" data-url="https://app.powerbi.com/view?r=eyJrIjoiMTEyM2U0MGMtOTJkNy00MTM4LWFmNjAtY2ViODQ1N2ZkNGU3IiwidCI6ImVkNWJkY2VkLTY5OGYtNDg0MS04ZjA3LTE4ZTFkODgwMGRjMSIsImMiOjR9">Financiero</button></li>
  </ul>
</div>
